*{
    box-sizing: border-box;
}
body{
    background-color: rgb(35, 0, 59);
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0px;
    overflow: hidden;
    
}
a:hover{
    color: blueviolet;
}
a{
    
    text-decoration: none;
    color: red;
}
h1, h2, h3, a, p, span {
    font-family: sans-serif;
    font-weight: 400;
    color: white;
}
nav{
    display: flex;
    width:100%;
    font-size: 25px;
    border-bottom: 1px solid rgb(80, 0, 133);
}
nav > .section{
    padding: 3rem 2rem;
    display: flex;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
    border-left: 1px solid rgb(80, 0, 133);
}
#logo,
#link {
    flex-basis: calc(100% / 3);
}
#social,
#contact{
    flex-grow: 1;
}

nav .fab{
    
    display: flex;
    color: red;
    
}
#logo{
    justify-content: flex-start;
    color: lightgrey;
    border-left: none;
    font-size: 2.5rem;
}
#link{
    justify-content: space-around;
}
#social{
    display: flex;
    justify-content: space-around;
    /* gap: 3rem; */
}
#one{
    color: white;
    
}
#one:hover{
    color:blueviolet;
}
i:hover{
    color:blueviolet;
}

/* Main section below */

main {
    flex-grow: 1;
    position: relative;
}
main > article {
    display: grid;
    height: 100%;
    width:100%;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 2fr 1fr;
    position: absolute;
    left: 0px;
    top: 0px;
    transition: transform 600ms ease;
}

main > article[data-status="inactive"]{
    transform: translateX(100%);
    
}
main > article[data-status="after"]{
    transform: translateX(-100%);
}
main > article[data-status="afterLeft"]{
    transform: translateX(100%);
}


.shake{
    animation: animate 0.3s;
    
}
@keyframes animate{
    0%{
        transform: translateX(-5%);
    }
    25%{
        transform: translateX(10%);
    }
    50%{
        transform: translateX(-10%);
    }
    75%{
        transform: translateX(5%);
    }
}
.article-section {
    height: 100%;
    /* border: 1px solid white; */
}

.description, .nav{
    border-left: 1px solid rgb(80, 0, 133);
}
.image, .description{
    border-bottom: 1px solid rgb(80, 0, 133);
}

.image{
    height: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    
}
.image-0{
    background-image: url("img/frequency-wave.jpg");
}
.image-1{
    background-image: url("img/Cat.jpg");
}
.image-2{
    background-image: url("img/Dog.jpg");
}
.description{
    display: flex;
    padding: 40px;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    cursor: default;
}
.pixa {
    color:rgb(220, 168, 255);
    text-decoration: underline;
}
.pixa:hover {
    color: hotpink;
}
.title{ 
    padding-left: 50px;
    display: flex;
    align-items: center;
}
.title > p{
    cursor: default;
    font-weight: 800;
    font-size: 3rem;
}
.title > p:hover{
    color: blueviolet;
}
.nav{
    display:flex;
    justify-content: space-around;
    align-items: center;

}
.nav-button{
    height: 100%;
    width: 50%;
    border: none;
    color: white;
    background-color: transparent;
    transition: 0.2s;
    /* background-color: hotpink; */
    
    font-size: 5rem;
}
.left-button{
    border-right: 1px solid rgb(80, 0, 133);
}
.first-right-button{
    border-left: 1px solid rgb(80, 0, 133);
}

.nav-button:hover{
    cursor: pointer;
    color:blueviolet;
    font-size: 5.5rem;
    /* background-color:rgb(44, 0, 74); */
}